<p id="notice"><%= notice %></p>
<h5>Take the challenge!</h5>

<b>Print out the materials listed below, plus the graph, buy the materials needed, and then go teach someone to stich this project!  When they're finished, have them sign up here and credit you as teacher!
</b>


<p>
  <%= image_tag(@project.image, :size => "200x300") %><br/><br/>
</p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Materials:</strong>
  <%= @project.materials %>
</p>


<p>
<B>Stitchers who have completed this challenge are:</B><br/>
<% for user in @project.users %>
	<%= user.fullname %> - completed on <%= user.created_at %><br>
<% end %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
