<!DOCTYPE html>
<html>
<head>
  <title>Cross-Stitch Challenge</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!--<div id="header">
	<div id="menuleft">
		<%= link_to 'Home', '/home/index' %>
	</div>

	<div id="menuright">
		<%= link_to 'Sign In', '#' %>
	</div>

</div>-->
<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to 'Home', '/home/index', id: "logo" %>
				<nav>
					<ul class="nav pull-left">
						<li><%= link_to "Sign In", '#' %></li>
						<li><%= link_to "Register", '/home/register' %></li>
					</ul>
				</nav>
				<nav>
					<ul class="nav pull-right">
						<li><%= link_to "About", '/home/about' %></li>
						<li><a href="http://hoffmandis.com/index.cfm?page=shoplinks" target="_blank">Find A Shop</a></li>

					</ul>
				</nav>
		</div>
	</div>
</header>


<div class="container">
<%= yield %>
<%= render 'layouts/footer' %>
</div>


<!-- <div id="footer">
<a href="mailto:mswhat298@gmail.com"><font size="1">Contact Us</font></a><font size="1"> | &copy;2013 Michael Whatley </font>
</div> -->


</body>
</html>
