<!DOCTYPE html>
<html>
<head>
  <title>Cross-Stitch Challenge</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to 'Home', '/home/index', id: "logo" %>
				<nav>
					<ul class="nav pull-left">
					<% if session[:user_id] %>
					<li><%= link_to 'Sign Out', '/home/signout', :confirm=>"Are you sure?"  %></li>
						<li><%= link_to "Modify Acct", '#' %></li>
						<li><%= link_to session[:user_id], '#' %></li>
					<% else %>
						<li><%= link_to "Sign In", '/home/signin' %></li>
						<li><%= link_to "Register", '/home/register' %></li>
					<% end %>

					</ul>
				</nav>
				<nav>
					<ul class="nav pull-right">
						<li><%= link_to "About", '/home/about' %></li>
						<li><a href="http://hoffmandis.com/index.cfm?page=shoplinks" target="_blank">Find A Shop</a></li>

					</ul>
				</nav>
		</div>
	</div>
</header>


<div class="container">
<%= yield %>
<%= render 'layouts/footer' %>
</div>

</body>
</html>
